@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');


/* *{
  border: 2px solid red;
} */

.special-font{
  font-family: 'Poppins', sans-serif;
}

 /*Keyframes for the dangling animation */
 @keyframes dangle {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(20px);
    }
  }

  .dangling-picture {
    animation: dangle 2s ease-in-out infinite;
  }

  .parent:hover .first-child{
    --tw-shadow-color: 0, 0, 0;
    --tw-shadow: 0 25px 50px -12px rgba(var(--tw-shadow-color), 0.25);
    -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    transition: 0.5s;
  }

  .parent:hover .second-child{
    display: block;
    transition: 0.5s;
  }

  .bg{
    background-image: url(/img/Decore.png);
    background-attachment: fixed;
  }

  .nav-transition{
    transition: left 1s;
  }